.divTable
{
    padding: 2% 3%;
    background-color: #fff;
    margin: 2%;
    border-radius: 10px;
}

table td
{
    width: auto;
}

table td .dropdown button
{
    background-color: transparent;
    border: 0;
    border-radius: 100%;
}

table td .dropdown button:hover, table td .dropdown button:hover .dropdown-menu, table td .dropdown button:focus-within .dropdown-menu
{
    background-color: #ccc;
}
.btn.show, .btn:first-child:active
{
     background-color: #ccc !important;
}

table td .dropdown button::after
{
    display: none;
}

table td .dropdown button i 
{
    color: #000;
}

.dropdown-item:hover
{
    background-color: #ccc !important;
}

.table tr:hover 
{
    cursor: pointer;
}

.modal textarea
{
    width: 100%;
    border: 2px solid #725AC1;
    border-radius: 10px;
    resize: none;
    height: 150px;
}

.modal input[type=text], .modal select, .modal input[type=number] 
{
  border-radius: 0px !important;
}

/* From Uiverse.io by Yaya12085 */ 
.radio-input {
  display: flex;
  flex-direction: row;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: white;
}

.radio-input input[type="radio"] {
  display: none;
}

.radio-input label {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #212121;
  border-radius: 5px;
  margin-right: 12px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.radio-input label:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #ccc;
  transition: all 0.3s ease-in-out;
}

.radio-input input[type="radio"]:checked + label:before {
  background-color: green;
  top: 0;
}

.radio-input input[type="radio"]:checked + label {
  background-color: royalblue;
  color: #fff;
  border-color: rgb(129, 235, 129);
  animation: radio-translate 0.5s ease-in-out;
}

@keyframes radio-translate {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateX(0);
  }
}

/* From Uiverse.io by ErzenXz */ 
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  cursor: pointer;
}

.toggle-switch input[type="checkbox"] {
  display: none;
}

.toggle-switch-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ddd;
  border-radius: 20px;
  box-shadow: inset 0 0 0 2px #ccc;
  transition: background-color 0.3s ease-in-out;
}

.toggle-switch-handle {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.toggle-switch::before {
  content: "";
  position: absolute;
  top: -25px;
  right: -35px;
  font-size: 12px;
  font-weight: bold;
  color: #aaa;
  text-shadow: 1px 1px #fff;
  transition: color 0.3s ease-in-out;
}

.toggle-switch input[type="checkbox"]:checked + .toggle-switch-handle {
  transform: translateX(45px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 0 0 3px #05c46b;
}

.toggle-switch input[type="checkbox"]:checked + .toggle-switch-background {
  background-color: #05c46b;
  box-shadow: inset 0 0 0 2px #04b360;
}

.toggle-switch input[type="checkbox"]:checked + .toggle-switch:before {
  content: "On";
  color: #05c46b;
  right: -15px;
}

.toggle-switch input[type="checkbox"]:checked + .toggle-switch-background .toggle-switch-handle {
  transform: translateX(20px);
}

.accordion-nuevaPista
{
  border: 1px dashed #ccc !important;
}

.accordion-button.nuevaPista::after
{
  display: none !important;
}

.input-error
{
  border-color: red !important;
}

.input-ok
{
  border-color: #725AC1 !important;
}

#imagenVerInstalacion
{
  height: 250px;
  background-size: auto;       
  background-position: center; 
  background-repeat: no-repeat;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.3); /* color semitransparente */
  background-blend-mode: darken; /* mezcla oscura */ 
  
  -webkit-mask-image: 
    /* linear-gradient(to bottom, transparent 0%, black 10%), */
    linear-gradient(to bottom, black 90%, transparent 100%);
  mask-image: 
    /* linear-gradient(to bottom, transparent 0%, black 10%), */
    linear-gradient(to bottom, black 70%, transparent 100%);
  
  -webkit-mask-composite: destination-in;
  mask-composite: intersect; 
}

.galeria-imagenes-pistas
{
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  align-items: center;
  justify-content: center;
}

.galeria-imagenes-pistas img
{
  width: 32%;
  height: auto;
  height: 200px;
  object-fit: cover;
}

.galeria-imagenes-pistas img:first-child
{
  width: 100%;
  height: 400px;
  object-fit: cover;
  margin-bottom: 2%;
}

#accordionPistas .accordion-item
{
  margin-bottom: 3%;
}

#categoriasVerInstalacion
{
  padding-bottom: 2%;
}

#categoriaPrincipalVerInstalacion
{
  color: #725AC1;
  font-size: 20px;
  font-style: italic;
  margin-right: 1%;
}

#categoriaSecundariaVerInstalacion
{
  color: #aaa;
  font-size: 20px;
  font-style: italic;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #32cccc;
  animation:
    l20-1 0.8s infinite linear alternate,
    l20-2 1.6s infinite linear;
}
@keyframes l20-1{
   0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
   12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
   25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
   50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
   62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
   75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
   100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
}
@keyframes l20-2{ 
  0%    {transform:scaleY(1)  rotate(0deg)}
  49.99%{transform:scaleY(1)  rotate(135deg)}
  50%   {transform:scaleY(-1) rotate(0deg)}
  100%  {transform:scaleY(-1) rotate(-135deg)}
}

#loader {
  position: absolute;
  background: rgba(255,255,255,0.6); /* semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10; /* encima de los acordeones */
}

.contenedor-loader
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.contenedor-loader #accordionEditarPistas div, .contenedor-loader #accordionEditarPistas
{
  width: 100%;
}
