.home {
    background: url('../images/portada.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.8);
    /* color semitransparente */
    background-blend-mode: darken;
    /* mezcla oscura */
}

.home h1 {
    margin: 0;
}

header.headerHome {
    background-color: transparent;
    position: fixed;
    z-index: 2000;
    top: 0;
}

header.headerHome nav .dropdown-toggle::after {
    color: white;
}

header.headerHome nav .dropdown-toggle:hover::after {
    color: white !important;
}

header.headerHome {
    width: 100%;
    margin-right: 5%;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.header-scrolled {
    background-color: rgba(0, 0, 0, .8) !important;
    padding-top: 1%;
    padding-bottom: 1%;
}

header.headerHome nav a,
header.headerHome>div a {
    color: #fff;
    text-decoration: none;
    font-size: 1.3rem;
}

.home .textoPortada {
    width: 70%;
    padding-top: 10%;
    margin-bottom: 5%;
    padding-left: 7%;
}

.home .textoPortada h1 {
    color: #fff;
    font-size: 3rem;
}

.barraBusqueda {
    background-color: #fff;
    width: 85.5%;
    border-radius: 50px;
    padding-right: 0%;
    display: flex;
    align-items: center;
    gap: 3%;
    padding-top: .5%;
    padding-bottom: .5%;
    justify-content: center;
    padding-left: 1%; 
    padding-right: 1%;
}

.barraBusqueda .contenedor-categorias-busqueda {
    width: 37%;
}

.barraBusqueda .contenedor-instalaciones-busqueda {
    width: 41%;
} 

.barraBusqueda .contenedor-reservas-completas-busqueda {
    width: 22%;
}

.barraBusqueda .contenedor-btn-busqueda {
    width: 8%;
}

.contenedor-btn-busqueda {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0%;
}

.contenedor-btn-busqueda .btn-primary-personal,
.contenedor-btn-busqueda .btn-secondary-personal {
    margin: 0%;
    padding: 20% 10%;
    width: 90%;
}

.barraBusqueda input,
.barraBusqueda select {
    border: 0px solid #ccc !important;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 4px;
    padding: 7px;
    border-radius: 8px;
}

.barraBusqueda>div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 3%;
}

.mainDivBusqueda {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
}

.content {
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin: 0% 5%;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.content .divImagenes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* 2 columnas */
    width: 35%;
    gap: 10px;
}

.content .divImagenes img {
    width: 100%;
    border-radius: 8px;
}

.content .comoFunciona {
    width: 53%;
}

.content .comoFunciona h1 {
    font-size: 3.5rem;
}

.content .comoFunciona li,
.content .comoFunciona p {
    font-size: 1.3rem;
    margin-bottom: 0%;
}

.content .comoFunciona p {
    font-size: 1.5rem !important;
}

.content .comoFunciona .btn-primary-personal,
.content .comoFunciona .btn-secondary-personal {
    width: 30%;
}

.content .comoFunciona p .categorias {
    display: flex;
}

/* <main-style> ============================ */


.contenedor-datos-gif {
    width: 100%;
    padding: 0% 6%;
    margin: 5% 0% 5% 0%;
}

.datos-gif-parrafo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-datos-gif p {
    font-size: 1.3rem;
    width: 70%;
}

.datos-gif {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    margin-top: 7%;
}

.datos-gif div {
    width: 17%;
    text-align: center;
}

.datos-gif div img {
    width: 100%;
}

.texto-dato-gif {
    width: 100% !important;
}

.texto-dato-gif p, .texto-dato-gif h2{
    width: 100% !important;
    text-align: center;
}

.texto-dato-gif p{
    font-size: 1.2rem;
}

.top-instalaciones {
    display: flex;
    align-items: center;
    gap: 5%;
    margin: 5%;
    margin-bottom: 0%;
    padding: 0% 3%;
}

/* From Uiverse.io by Yaya12085 */
/* .card {
    width: 30%;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 1px solid transparent;
    min-height: 400px;
}

.card a {
    text-decoration: none
}

.card img {
    width: 100%;
    height: 100%;
}

.contenedor-top-instalaciones .card
{
    height: 600px;
}

.content-card-instalaciones-top {
    padding: 1.1rem;
}

.image {
    object-fit: cover;
    width: 100%;
    height: 200px;
    background-color: rgb(239, 205, 255);
}

.title {
    color: #111827;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
}

.desc {
    margin-top: 0.5rem;
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
    height: 115px;
}

.action {
    display: inline-flex;
    margin-top: 1rem;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    align-items: center;
    gap: 0.25rem;
    background-color: #2563EB;
    padding: 4px 8px;
    border-radius: 4px;
}

.action span {
    transition: .3s ease;
}

.action:hover span {
    transform: translateX(4px);
} */

.top-instalaciones .btn-primary-personal,
.top-instalaciones .btn-secondary-personal {
    font-size: 1.1rem;
}

.contenedor-btn-ver-instalaciones {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3% 0%;
    width: 100%;
}

.contenedor-btn-ver-instalaciones .btn-primary-personal,
.contenedor-btn-ver-instalaciones .btn-secondary-personal {
    width: 20%;
}

.contenedor-top-instalaciones {
    margin-top: 7%;
}


.menu-movil > .inp {
  display: none;
}

.menu-movil {
  font-weight: 800;
  color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  justify-content: center;

  width: 5rem;
  height: 5rem;
}

.arrow {
  height: 34%;
  aspect-ratio: 1;
  margin-block: auto;
  position: relative;
  display: flex;
  justify-content: center;
  transition: all 0.3s;
}

.arrow::after,
.arrow::before {
  content: "";
  position: absolute;
  background-color: white;
  height: 100%;
  width: 2.5px;
  border-radius: 500px;
  transform-origin: bottom;
}

.arrow::after {
  transform: rotate(35deg) translateX(-0.5px);
}
.arrow::before {
  transform: rotate(-35deg) translateX(0.5px);
}



.menu-movil > .inp:checked + .arrow {
  transform: rotateX(180deg);
}

.menu-container {
  background-color: white;
  color: #000 !important;
  border-radius: 10px;
  position: absolute;
  width: 21.5rem;
  right: 0%;
  top: 130%;
  overflow: hidden;
  clip-path: inset(0% 0% 0% 0% round 10px);
  transition: all 0.4s;
}

.menu-list {
  --delay: 0.4s;
  --trdelay: 0.15s;
  padding: 15px;
  border-radius: inherit;
  transition: background-color 0.2s 0s;
  position: relative;
  transform: translateY(30px);
  opacity: 0;
  text-align: left;     /* Añade esto */
  width: 100%;          /* Añade esto */
  box-sizing: border-box; /* Añade esto */
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1%;
}

.menu-list i {
    font-size: 1.1rem;
}

.menu-list a {
    color: #111 !important;
    font-size: 1.1rem !important;
}

.menu-list::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
  width: 95%;
}

.menu-list:hover {
  background-color: rgb(223, 223, 223);
}

.inp:checked ~ .menu-container {
  clip-path: inset(10% 50% 90% 50% round 10px);
}

.inp:not(:checked) ~ .menu-container .menu-list {
  transform: translateY(0);
  opacity: 1;
}

.menu-list:nth-child(n) {
  transition:
    transform 0.4s calc(var(--delay) + (var(--trdelay) * (var(--i, 0)))),
    opacity 0.4s calc(var(--delay) + (var(--trdelay) * (var(--i, 0))));
}   

.bar-inp {
  -webkit-appearance: none;
  display: none;
  visibility: hidden;
}

.bar {
  display: flex;
  height: 50%;
  width: 4rem;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
}

.bar-list {
  --transform: -25%;
  display: block;
  width: 100%;
  height: 7px;
  border-radius: 50px;
  background-color: white;
  transition: all 0.4s;
  position: relative;
}

.inp:not(:checked) ~ .bar > .top {
  transform-origin: top right;
  transform: translateY(var(--transform)) rotate(-35deg);
}

.inp:not(:checked) ~ .bar > .middle {
  transform: translateX(-50%);
  opacity: 0;
}

.inp:not(:checked) ~ .bar > .bottom {
  transform-origin: bottom right;
  transform: translateY(calc(var(--transform) * -1)) rotate(35deg);
}

.contenedor-top-instalaciones .btn-prev-top-instalaciones, .contenedor-top-instalaciones .btn-next-top-instalaciones {

    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important;
    background-color: #32cccc !important;
    top: 50% !important;
}

.contenedor-top-instalaciones .btn-prev-top-instalaciones {
    left: 5% !important;
}

.contenedor-top-instalaciones .btn-next-top-instalaciones {
    right: 5% !important;
}

#carousel-indicators-instalaciones {
    transform: translateY(10px) !important;
}

.contenedor-btn-ver-instalaciones a, 
.contenedor-top-instalaciones .card-instalacion .button a {
    min-width: 240px !important;
}

.carousel-indicators button {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50% !important;
  background-color: #32cccc70 !important;
}

.carousel-indicators .active {
  background-color: #32cccc !important;
}