@media screen and (min-width: 1400px) {
    .home .textoPortada {
        padding-top: 15%;
        margin-bottom: 7%;
    }

    /* .barraBusqueda {
        padding-top: 0%;
        padding-bottom: 0%;
    } */

    .contenedor-btn-busqueda .btn-primary-personal {
        width: 80%;
        border-radius: 50%;
    }

    .card-instalacion {
        height: auto !important;
    }

    .category {
        padding: 0% 10% !important;
        padding-top: 10% !important;
    }

    .heading {
        padding: 1% 10% !important;
    }

    .opciones {
        padding: 0% 10% !important;
    }

    .card-instalacion .button {
        padding: 10% !important;
        padding-top: 8% !important;
    }

    .bodyLogin {
        min-height: 90vh;
    }

    .bodyReset {
        min-height: 80vh;
    }

    .bodyRegistro {
        min-height: 97vh;
    }

    .bodyNuevaPass {
        min-height: 85vh;
    }

    .calendario .div-mes {
        height: 490px;
    }

    .grid-nombres-mes {
        margin-bottom: 10%;
    }

    .contenedor-reservas {
        grid-template-columns: repeat(auto-fill, 428px);
    }
}

@media screen and (max-width: 1399px) {

    .contenedor-btn-busqueda .btn-primary-personal {
        width: 80%;
        border-radius: 50%;
    }
}

@media screen and (max-width: 1300px) {

    .contenedor-btn-busqueda .btn-primary-personal {
        width: 85%;
        border-radius: 50%;
    }

    header {
        padding-top: 3% !important;
        padding-right: 3% !important;
    }

    header img {
        width: 5.5%;
    }

    .textoPortada {
        width: 75% !important;
        padding-top: 14% !important;
    }
}

@media screen and (max-width: 1175px) {

    .textoPortada {
        width: 80% !important;
        padding-top: 17% !important;
    }

    .barraBusqueda {
        gap: 2% !important;
    }
}

@media screen and (max-width: 1117px) {
    .barraBusqueda .contenedor-reservas-completas-busqueda {
        display: none !important;
    }

    .barraBusqueda .contenedor-btn-busqueda {
        width: 20%;
    }

    #busqueda-home {
        width: 100%;
        padding: 7%;
        border-radius: 50px;
    }

    .barraBusqueda {
        padding-left: 2% !important ;
        padding-right: 1%;
    }

    .barraBusqueda .contenedor-categorias-busqueda {
        width: 40% !important;
    }

    .barraBusqueda .contenedor-instalaciones-busqueda {
        width: 40% !important;
    }
}

@media screen and (max-width: 1098px) {
    .textoPortada {
        padding-top: 18% !important;
        width: 85% !important;
    }
}

@media screen and (max-width: 1100px) {

    header .nav-grande {
        display: none !important
    }

    header .menu-movil {
        display: flex !important;
        padding: 0% !important;
    }

    header.headerHome {
        position: absolute;
        background-color: transparent !important;
    }

    header .div-contacto-menu-movil {
        width: 40%;
        display: flex;
        align-items: center;
        gap: 10%;
    }

    header .sesion-iniciada {
        width: 30% !important;
    }

    header .sesion-no-iniciada {
        width: 60% !important;
    }

}


@media screen and (max-width: 1027px) {
    .textoPortada {
        width: 90% !important;
    }
}

@media screen and (max-width: 964px) {
    .textoPortada {
        width: 100% !important;
    }
}

@media screen and (max-width: 801px) {
    header .sesion-iniciada {
        width: 40% !important;
    }

    .textoPortada {
        width: 90% !important;
        padding-top: 25% !important;
    }

    .textoPortada h1{
        font-size: 2.5rem !important;
    }

}


@media screen and (max-width: 801px) {
    .contenedor-btn-busqueda {
        width: 12% !important;
        margin-left: 7%;
    }

    .contenedor-btn-busqueda a {
        padding-top: 20% !important;
        padding-bottom: 20% !important;
    }


}

@media screen and (max-width: 742px) {
    .barraBusqueda .contenedor-instalaciones-busqueda, 
    .barraBusqueda .contenedor-categorias-busqueda {
        width: 45% !important;
    }

    .contenedor-btn-busqueda {
        margin-left: 3%;
    }

    .contenedor-btn-busqueda a {
        padding-top: 25% !important;
        padding-bottom: 25% !important;
    }

    .home .textoPortada .btn-primary-personal {
        width: 40%;
    }
}


@media screen and (max-width: 700px) {

    .contenedor-btn-busqueda {
        margin-left: 0% !important;
    }

    .barraBusqueda .contenedor-categorias-busqueda {
        width: 40% !important;
    }

    .home .textoPortada .btn-primary-personal {
        width: 45%;
    }
}

@media screen and (max-width: 670px) {

    .contenedor-busq {
        display: none;
    }

    .home .textoPortada {
        padding-top: 35% !important;
    }

    .home .textoPortada .btn-primary-personal {
        width: 100%;
        margin-top: 5%;
    }
}

